<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">


    <head th:replace="~{temp/template::head}">

        <script src="/js/jquery.js"></script>
        <script src="/js/search.js"></script>
    </head>
<body>
<form th:action="@{/employee/search}" th:method="get">
    <input type="text" name="name">
    <button type="submit">Search</button>
</form>


<nav th:replace="~{temp/template::header}"></nav>
<!--<div th:replace="~{templ/template::footer}"></div>-->

<a th:href="@{/employee/create}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create new customer</a>
<input id="searchEmployee" type="text" name="nameEmp">
<button onclick="searchEmployee()">Search</button>



<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">BirthDay</th>
        <th scope="col">Salary</th>
        <th scope="col">Id Card</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">UserName</th>
        <th scope="col">Division</th>
        <th scope="col">Education</th>
        <th scope="col">Position</th>
        <th scope="col"></th>
        <th scope="col"></th>

    </tr>
    </thead>
    <tbody id="result">
    <tr th:each="e:${employee}">

        <td th:text="${e.employee_id}"></td>
        <td th:text="${e.employee_name}"></td>
        <td th:text="${e.employee_birthday}"></td>
        <td th:text="${e.employee_salary}">
        </td>
        <td th:text="${e.employee_id_card}"></td>
        <td th:text="${e.employee_phone}"></td>
        <td th:text="${e.employee_email}"></td>
        <td th:text="${e.employee_address}"></td>
        <td  th:text="${e.user.getUserName() }"></td>
        <td  th:text="${e.division.getDivision_name()}"></td>
        <td  th:text="${e.education.getEducation_degree_name()}"></td>
        <td  th:text="${e.position.getPosition_name()}"></td>

        <td>
            <a class="btn btn-primary " role="button"
               th:href="@{/employee/edit/__${e.employee_id}__}">Edit

            </a>
        </td>
        <td>


        <td><a th:href="@{/employee/delete/__${e.employee_id}__}"  class="btn btn-danger btn-delete">Delete</a></td>




<!--        </td>-->


    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/employee/listEmployee'(page=${employee.number - 1})}" th:if="${employee.hasPrevious()}">Previous</a>
    <span th:text="${employee.number + 1}"></span>/<span th:text="${employee.totalPages}"></span>
    <a th:href="@{'/employee/listEmployee'(page=${employee.number + 1})}" th:if="${employee.hasNext()}">Next</a>


    <!--    <th:block th:each="i:${#numbers.sequence(0,blogList.totalPages - 1)}">-->
    <!--        <li th:if="${blogList.number == i}" class="page-item active">-->
    <!--            <a class="page-link" th:href="@{'/blogs'(page=${i})}" th:text="${i+1}"></a>-->
    <!--        </li>-->
    <!--        <li th:unless="${blogList.number == i}" class="page-item">-->
    <!--            <a class="page-link" th:href="@{'/blogs'(page=${i})}" th:text="${i+1}"></a>-->
    <!--        </li>-->
    <!--    </th:block>-->

    <!--    <li class="page-item">-->
    <!--        <a class="page-link" th:if="${blogList.hasNext()}" th:href="@{'/blogs'(page=${blogList.number +1})}">-->
    <!--            <span>&raquo;</span>-->
    <!--        </a>-->
    <!--    </li>-->
</div>


<!--modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title pull-right" id="myModalLabel">Xoa Khach hang nay!</h3>

            </div>
            <div class="modal-body">
                <p class="alert alert-danger pull-right">Ban co muon xoa? </p>

            </div>

            <div class="modal-footer">
                <a href="" type="button" class="btn btn-danger" id="btnDelteYes">Delete</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Return</button>
            </div>

        </div>

    </div>




</div>
<script>
    $('.btn-delete').on('click', function (e) {
        e.preventDefault();
        var href =$(this).attr('href');
        $('#myModal #btnDelteYes').attr('href',href);
        $('#myModal').modal();
    });
</script>
</body>
    <div th:replace="~{temp/template::footer}"></div>
</html>