<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<p>
    <a th:href="@{/create}">
        Back to product
    </a>
</p>

<div id="form">
    <form th:action="@{/save}" th:object="${music}" method="post" novalidate="novalidate" enctype="multipart/form-data">
        <input type="hidden" th:field  ="*{id}"/>
        <div>
            <label>Ten</label>
            <input type="text" th:field="*{name}"/>

        </div>
        <div>
            <label>Nghe si</label>
            <input type="text" th:field="*{genre}"/>

        </div>
        <div>
            <label>The Loai</label>
            <input type="email" th:field="*{artist}"/>
        </div>
        <div>
            <label>Link</label>
            <input type="file" th:field="*{path}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>


</body>
</html>